.tablink {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
}

* {box-sizing: border-box}


/* Style tab links */
.tablink {
  background-color: #35B0E5;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33333333333333333333333333%;
  margin-top:0 !important;
}

.tablink:hover {
  background-color: #EE368A;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 100px;
  padding-bottom: 50PX;
  height: 100%;
  width: 100%;
}

#Home {background-color: white;
      color: black;
      box-shadow: 2px 2px 5px black;}
#News {background-color: white;
      color: black;
      box-shadow: 2px 2px 5px black;}
#Contact {background-color: white;
      color: black;
      box-shadow: 2px 2px 5px black;}